/*Margin for body of site*/
.layout-container{
   /* width: 90%;
    min-width: 940px;
    max-width: 1500px;*/
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
        padding: 0% 5%;
}

.layout-content{
    display: block;
    clear:both;
}


.menu-sub{
    display: block !important;
}

/*The Following has been added for the Main Navigation Menu*/
a:-webkit-any-link{
    color: #34A1BE;
    text-decoration: none;
}

li{
    text-align: -webkit-match-parent;
    margin-right: 1px;
}

ul{
    margin:0;
    padding:10;
}

.block-region-top > .navigation{
	width:100%;
	position:relative;
	line-height:37px;
    background: none repeat scroll 0 0 #E6E7E2 !important;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.dropdown-toggle::after{
    content: none !important;
}

.hasmenu{
    margin: 0;
    display: block;
    float: left;
}

.navbar-nav{
    display:inherit !important;
}

.block-region-top > .navigation > ul{
        list-style: none;
}

.expanded > a > span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 25px 0 20px;
    display: block;
}

.expanded > a > span:hover{
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    line-height: 37px;
}

.dropdown:hover{
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    background-color: #f9f9f9;
    min-width: 240px;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    z-index: 99;
    /*Override Bootstrap Below*/
    position: absolute !important;
    margin: 0px !important;
    border-radius: 0px !important;
    font-size: 1em;
}

.dropdown-menu > li{
     color: #000 !important; 
     width: 100%;
     white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 99;
}

.menu--footer{
    z-index: 1 !important;
}/*Main Navigation Style*/

/************************/

/*Header Styling*/
.navbar-right{
    padding:5px;
    text-align: right;
    background: none !important;
}

.navbar-right > li{
    background: none !important;
    display: inline-block;
}

.right-banner{
    text-align: right;
    padding-bottom: 10px;
    padding-top: 10px;
    max-height: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.right-banner > div{
    display: inline-block;
}

.left-banner > a > img{
    margin-bottom: -3px;
    margin-left: 30px;
}

/*Header*/

/******************************/

/*Footer*/
footer{
    margin-top: 25px;
}

.menu--footer{
    border-top: none !important;
}

.contactLink{
    color: #34A1BE !important;
    font-weight: 400;
    font-size: 12pt;
}

.footContactContain{
    vertical-align: top; 
    text-align: right;
}

.footContactContain > p{
    margin: 0px !important;
    padding: 0px !important;
}

/*Footer*/

/*************************/

.block-region-first-below, .block-region-second-below{
    margin:10px;
}

div > ul{
    font-size: 16px;
}

.contactInfo > p{
        margin-bottom: 0px;
}

.logo{
    position: inherit;
    width: 100%;
    max-width: 420px;
    height: auto !important;
}

div.logo{
    margin-top: 25px;
}

.col_250{
    width:250px;
}

.col_100{
    width:auto;
}

.lCol{
    display: table-cell;
}

.rCol{
    display: table-cell;
}

.contentTable{
    display: table;
    width: 100%;
}


iframe{
    border: none;
    max-width: 100%;
}

.searchDiv{
    float: right;
    margin-right: 10px;
    width:100%;
}

.searchBox{
    display: table;
}

#searchText{
    outline: none;
    width: 100% !important;
    height: 30px;
}

#searchText:invalid{
    color: grey; 
    font-style: italic;
}

.searchsubmit{
    display: table-cell;
}

.srch{
    margin: 10px;
    
}

#searchSubmits{
    background-image: url('//my.nflibrary.ca/themes/nfplTheme/images/siteImage/Search.png');
    background-repeat: no-repeat;
    background-position: center;
    width:25px;
    height:25px;
    border:none;
    background-color: transparent;
}
.wrapper {
    display:flex;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.25) inset;
    height: 100%;
    position: relative;
    width: 100%;
}

.searchBoxForm > div > input,
.searchBoxForm > div > button {
    background-color:transparent;
    border:0;
    width: 100%;
    height: 25px;
}

#searchSubmits:hover{
    cursor: pointer;
}

.field__label{
    display: none !important;
}

.home-left, .home-right{
    padding: 0px 25px;
   
}

.home-top{
    height: 270px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34A1BE), to(#fff));
    background-image: -webkit-linear-gradient(top, #34A1BE, #fff);
    background-image: -moz-linear-gradient(top, #34A1BE, #fff);
    background-image: linear-gradient(to bottom, #34A1BE, #fff);
}

/* RSS FEEDS */


.feed-item-title{
    font-weight: normal;
    font-size: 10pt;
    color: inherit;
}

.item-list > ul {
    list-style-image: url('../images/siteImage/ArrowRight.png');
}


.eventDetails {
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
    float: right;
}

.eventDetails > span{
    float: right;
}

.views-slideshow-controls-bottom{
    display: none !important;
}

.btnImageLinks > a > img{
    margin: 10px 0px;
}

.views-field-field-ad-rotator > div > a > img, .views-field-field-ad-rotator > div > img{
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    display: block;
    width: 100%;
}

.block > h2{
    border-bottom: 1px solid #34A1BE;
    margin-top: 30px;
}

.views_slideshow_cycle_teaser_section{
    margin:0px auto;
    width: auto !important;
    height: 350px !important;
    max-height: 350px;
}

#map{
    width:100%;
    max-width: 500px;
    height:400px;
    margin: 10px auto;
}

.twitter-timeline{
    display: block !important;
    margin: 0 auto !important;
}

.views-col{
    display: block;
    width:100%;
    margin: 0 auto;
    float: none !important;
    max-width: 200px;
}

.views-col > div, .views-col > div > div{
    display: table-row;
}

.views-col > div > div > div{
    display: inline-block;
} 



.block-aggregator{
    padding:25px;
}

.views_slideshow_slide{
    width: 100% !important;
}

.allLocationTable{
    margin: 25px auto;
}

.allLocationTable > tbody > tr{
    border-bottom: 1px solid #34A1BE;
}

.allLocationTable > tbody > tr > th{
    text-align: center;
    min-width: 70px;
    border-left: 1px solid #CCC;
}

.allLocationTable > tbody > tr > th:first-child{
    border-left: none !important;
}

.allLocationTable > tbody > tr > td{
    text-align: center;
    min-width: 70px;
    min-height:25px;
    padding:5px;
    border-left: 1px solid #CCC;
}

.allLocationTable > tbody > tr > td:first-child{
    text-align: left ;
    border-left: none !important;
}

.singleLocationTable{
    width: 300px;
}

.singleLocationTable > tbody > tr > td{
    width: 50%;
    text-align: left;
}

a{
    color:#34A1BE;
}

.block{
    margin:10px;
}

h2{
    font-size: 20px !important;
}

#block-views-block-image-linking-block-1{
    text-align: center;
}

.info{
    margin: 5px 0px;
}

.infoWindow > div > p{
    margin: 5px 0px;
    padding:0px;
}
.infoTitle{
    font-family: 'Montserrat', sans-serif;
    color: #34A1BE;
    font-size: 18px;
}

.CPUBasic > div > table > tbody > tr > td{
    padding:10px;
    text-align: justify;
    display: table-cell;
    vertical-align: top;
}
.CPUBasic > div > table > tbody > tr > td:nth-child(odd){
    background-color: #fff;
}
.CPUBasic > div > table > tbody > tr > td:nth-child(even){
    background-color: #f2f2f2;
}

.quad > table > tbody > tr > td{
    width:25% !important;
}

.bi > table > tbody > tr > td{
    width:50% !important;
}

.row{
    width: 100%;
    margin: 0 auto;
}


.field--name-title{
    font-size: 20px;
    color: #34a1be !important;
    border-bottom: 1px solid #34a1be;
    margin-right: 10px;
    width: 95%;
    display: block;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding-top:17px;
}

#block-mainnavigation{
    margin:0px !important;
}

.logoHolder{
    position: relative;
    min-height: 150px;
}

.logoDiv{
    position: absolute;
    bottom: -3px;
}

.views-field-field-image-link{
    text-align: center;
}

.footHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


button.accordion {
    cursor: pointer;
}

button.accordion.active, button.accordion:hover {

}

div.panel {
    padding: 10px 25px;
    display: none;
}

.field--type-created{
    display:none;
}

.field--name-fid{
    display: none;
}

#eventInfo{
    background-image: url('../images/siteImage/more.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

#eventInfo.active{
    background-image: url('../images/siteImage/less.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.itemHolder{
    width:100%;
    margin: 5px;

}

.feed-item-title{
    color: rgb(51,51,51) !important;
    font-size: 16px;
    font-family: Hind, sans-serif;
    
}



.aggregatorArrow, .feed-item-title{
    display: inline;
    line-height:24px;
    vertical-align: top !important;
}

.rss-display > div.view-content > div:nth-child(2n){
    background-color: rgb(240,240,240);
}

.rss-row{
    min-height: 40px;
    padding: 5px 0px;
    float: none !important;
}

.rss-row *, .rss-display *::before, .rss-display *::after{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.alertTitle{
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    text-align: center;
}

.alertText{
    width: 100%;
    text-align: justify;
    display: inline-block;
}

.alertText > p{
    margin: 0px;
}

.alertContent{
    padding:5px; 
    display:block; 
    height: 100%; 
    overflow: hidden;
}

.alertContain{
    margin: 20px 0px; 
    border: 2px solid red;
    height: 100%;
}

body{
    font-size: 15px !important;
}

ul.listing>li{
    padding-top: 5px;
}

#alertText{    background-color: rgba(133,133,133,0.5);
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.treeElementText{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    bottom: 0;
    display: block;
    font-weight: bold;
    left: 0;
    padding: 3px 5px;
    position: absolute;
    width: 100%;
}

.treeDiv{
    width: 75%;
}

.treeDiv > div > div{
    position: relative;
    width:161px;
    margin: 15px 0px;
    transition: all .2s ease-in-out; 
}

.treeDiv > div > div > a{
    color: #000;
}

.treeDiv > div > div:hover { transform: scale(1.1); }

.magTable img{
    margin:0 auto !important;
    display: block;
}

.tableNF{
    min-width: 90%;
    line-height: 24px;
    border-collapse: collapse !Important;
    border: none !Important;
    border-color: #CCCCCC !Important;
    font-style: normal !Important;
    margin-bottom: 15px;
    margin: 0 auto;
}
.tableNF > tbody > tr{
    border-bottom: 1px solid #34A1BE;
    background: #FFFFFC !Important;
}

.centreTableContent > tbody > tr > td{
    text-align: center;
}

.videoGames > tbody > tr > td > img{
    max-width: 250px;
    max-height: 250px;
}

/* .view-local-history  */

.views-row{
    padding: 5px 0px;
}

.drimg{
    margin: 50px 0px;
    text-align: center;
}

.drimg > div > a > img{
    width: 200px;
    height: 100px;
    padding:5px;
}

.vgimg{
    width: 250px;
    height: 250px;
    padding:15px;
}

.alignIcon > a{
    line-height: 13px;
}

.frmPayPal{
    margin-left:25px;
}

.bookSale{
    padding-top:50px;
}

.frmPayPalCashOut{
    text-align: center;
}

.articleList{
    border-bottom: 1px solid rgba(52, 159, 188, 0.55);
    width: 95%;
}

.imgContain{
    max-width:100%;
}

img, .treeElementText{    
    margin: 0px 10px;
    max-width:100%;
    height: auto;
}

.imageList{
    list-style: none;
    display: inline-block;
    text-align: center;
}

.imageList > li{
    display: inline-block;
    margin: 10px;
}

.aboutDigital img{
    margin:10px;
}

#login_div{
    display:table;
    margin:0 auto;
}

#login_div > div{
    display:table-cell;
    padding:50px;
}

#login_div > div > div.description{
    display:none;
}

#login_div > div > label{
    margin-bottom : 0px;
}

.btnLogin{
    margin: 0 auto;
    display: table;
}