/*has to be set to float the images */
#widget_pager_bottom_front_page_slideshow-page_1{
  overflow:hidden;
  left: -13px;
  position: relative;
  padding-right: 4px;
}

/*set the properties of the field images/icons and line them up*/
/* */
.views_slideshow_pager_field_item {
  float: left;
  padding: 4px;
  margin: 8px 8px 12px 8px;
  position: relative;
  font-size: x-large;
}

.views_slideshow_pager_field_item:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  content: "\25CB";
  font-size: x-large;
}

.views_slideshow_pager_field_item.active{
  float: left;
  padding: 4px;
  margin: 8px 8px 12px 8px;
  position: relative;
  font-size: x-large;
}

.views_slideshow_pager_field_item.active:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  content: "\25CF";
  font-size: x-large;
}

.views-content-counter{
  display:none;
}

/*thead fix on services*/
thead tr th{
  color : cornflowerblue;
  text-align: center;
  font-size: 20px;
}

.container.welcome-banner-text{
  padding-top: 10px !important;
}