

/* Additions to the base file for NFPL */

/* @import url("font.css"); */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* @import url(https://fonts.googleapis.com/css?family=Raleway:500); */
@import url(https://fonts.googleapis.com/css?family=Hind);

body {
	background-color:		#f9f9f9;
	font-family: 'Hind', sans-serif;
	line-height: 1.5;
}
/* */
body,  form, textarea, td, input, select, div	{
	font-family: 'Hind', sans-serif;
	margin:0px;
	padding:0px;
	margin-top: 0px;  
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;} 

h2 { 
	font-family: 'Montserrat', sans-serif;
	color: #34A1BE;
	font-size: 18px;
	margin-top: 16px;}

p {margin: 15px; padding: 0px 10px; font-family: 'Hind', sans-serif;}

.logotext1 {
	font-family: 'Montserrat', sans-serif; 
	line-height: 1;
	font-size: 16pt; 
	font-weight: 400; 
	color: #84C9DB; 
	margin-top: 30px; 
	margin-left: 10px; 
	position: absolute;}

.logotext2 {
	font-family: 'Montserrat', sans-serif; 
	line-height: .8;
	font-size: 27pt; 
	font-weight: 400; 
	color: #34A1BE; }

section{
    margin:0px !important;
    padding:0px !important;
}

.dijitComboBox {
	height: 22px;
	font-family: 'Montserrat', sans-serif;
}


body, body.normal {
	font-size:				14px;
}
body.large {
	font-size:				18px;
}
body.largest {
	font-size:				20px;
}

#wrapper {
	background:				none;
	max-width: 				1250px;
}
#wrapperinner, #header, .HeaderLogo, #footer, #footerinner {
	background:				none;
}

#header .searchbox .searchBoxForm .searchterm input {
width: 400px !important; height: 40px;
}

#header .searchsubmit #searchSubmitTR { /*color: blue;*/ float: right; }	/* visibility: hidden; */

#header div.searchbox .searchsubmit > input {
    background: url("images/search.png") no-repeat scroll 6px 6px;
    border: medium none;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25);
    color: transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    position: absolute;
    right: 0;
    text-indent: 28px;
    bottom: 0;
    width: 28px;
}



.cdn { 
	width: 50px; background-image: url('/iguana/css/themes/nfpl/images/CanadianFlag.png'); 	background-repeat:no-repeat;
}

.footer { 
	font-size: 90%;
	height: 175px;
	border-top:	4px solid #34A1BE;
/*	height: 260px; 
	background-image: url('/iguana/css/themes/nfpl/images/LogoOpenSansLTBC.png'); 
	background-size: 186px 240px; 
	background-repeat: no-repeat;
	background-position: center bottom; 
	box-shadow: 0px 4px 4px #e0e0e0;
	-moz-box-shadow: 		0px 4px 4px #e0e0e0;
	-webkit-box-shadow: 	0px 4px 4px #e0e0e0; */
/*	filter: progid:DXImageTransform.Microsoft.Shadow(direction=180,color=#d0d0d0,strength=5); 
 	-ms-filter:"progid:DXImageTransform.Microsoft.glow(direction=180, Strength=5, Color='#d0d0d0')";*/
} 
.logo {height: 110px; }


.ftrSM {
    font-size: 90%;
    text-align: center !important;
    vertical-align: bottom;
}

.socialicons {
vertical-align: top;
    text-align: center !important;
/*    margin-top: 10px; */
    margin-bottom: 20px;
}

#wrapperinner, #header {
	margin:					0;
	padding-right:			0;
}
#header { 
    margin-bottom: -4px;
	background:				none;
	
}
 .HeaderLogo .logo > a > img {
	display:				none;
} 
#header .HeaderLogo .logo {
	margin-left:0;
	margin-top:15px;
}
 
#header .HeaderNavigation .HeaderNavigationInner > div.row1 { margin-right:185px; height: 108px;}
#header .HeaderNavigation .HeaderNavigationInner > div.row1 > div,
#header .HeaderNavigation .HeaderNavigationInner > div.row2 > div {	display:none;}
#header .HeaderNavigation .HeaderNavigationInner > div.row2 > div#logoff {	display:inline; background:none; }
#header .HeaderNavigation .HeaderNavigationInner > div.row2 > div#logoff div > div > div {width:400px !important;}

#header .HeaderNavigation .HeaderNavigationInner > div > div#normala,
#header .HeaderNavigation .HeaderNavigationInner > div > div#largea,
#header .HeaderNavigation .HeaderNavigationInner > div > div#largesta {	display:block; background:none;}
#header .HeaderNavigation div.SearchInner { top:17px;right:0; }

#header { 						z-index:auto !important; position:relative !important;}
#header .HeaderNavigation .HeaderNavigationInner > div.row2,
/* #header .searchDiv #sOptions {  position:absolute;  !important;} */

#banner { 						z-index:100; position:relative !important;}




#header > a:first-child {
   background: 		none; 
 /*    height: 			100%;
    left: 				0;
    position:			absolute;
    top: 				0;
    width: 				20px;
	z-index:			-1; */
}

.dj_ie #header .searchDiv #sOptions { display:none !important;}

#banner {
	float:none;
	clear:both;
	width:auto;
}


.dijitTitlePane .dijitTitlePaneTitle {
    min-height: 25px;
}
.column > div {
	margin:					20px 0 10px 10px;
	padding:				0px;
}
#column1 > div {
	margin-left:			0;
}




.menu--main {
	z-index:99; 
	position:relative !important;
	font-family: 'Montserrat', sans-serif;
	background:				none !important;
	border:					none; 
/*	border-bottom: 2px solid #84C9DB; */
	border-top: 4px solid #34A1BE;
	margin: 0px !important;
/*	padding-bottom: 2px; */
}



.application.deBib {				border:	1px solid #34A1BE;}
.column .application .apptitle {	border-bottom: 1px solid #34A1BE;}
.application.deBib .apptitle {	border-bottom: none; }
p {	line-height				: inherit;}
.application.nostyling {
	border					: none !Important;
	filter					: none !Important;
	-ms-filter				: none !Important;
	-moz-box-shadow			: none !Important;
	-webkit-box-shadow		: none !Important;
	box-shadow				: none !Important;}
.apptitle .ttl {
    font-weight: 400; 
    position: relative;
    z-index: 3;
    font-size: 24px;
}
.application.nostyling > div,
.application.nostyling > div .appcontent {
	padding					: 0;}

.applicationcontainerhiddentitle.nostyling .dijitTitlePaneContentOuter, .applicationcontainernotitle.nostyling .dijitTitlePaneContentOuter {
    margin-top: 0;
}

.column .application .apptitle,
.application.deBib,
.navigation ul {			background:#f9f9f9;}

.navigation,
.column .application .apptitle {
/*	margin-bottom: 			5px; */
	
/*	-moz-box-shadow: 		0px 4px 4px #e0e0e0;
	-webkit-box-shadow: 	0px 4px 4px #e0e0e0;
	box-shadow: 			0px 4px 4px #e0e0e0;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=180,color=#d0d0d0,strength=5); 
 	-ms-filter:"progid:DXImageTransform.Microsoft.glow(direction=180, Strength=5, Color='#d0d0d0')"; */
}
.application.deBib
{	
	-moz-box-shadow: 		3px 3px 3px #d0d0d0;
	-webkit-box-shadow: 	4px 4px 4px #e0e0e0;
	box-shadow: 			3px 3px 3px #d0d0d0;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#d0d0d0,strength=5); 
 	-ms-filter:"progid:DXImageTransform.Microsoft.glow(direction=135, Strength=5, Color='#d0d0d0')";
}
.application.deBib .apptitle {
	margin-bottom: 			0;
	
	border:					none;
	-moz-box-shadow: 		none;
	-webkit-box-shadow: 	none;
	box-shadow: 			none;
	
	filter: 				none; 
 	-ms-filter:				"none";
	position:			relative;
}



ul.mainnavigation > li > ul > li > a {
    font-weight: 400;
}

.navigation > ul > li, .navigation > ul > li:hover, .navigation > ul > li:hover > a {
	background:				none !important; 
}
.navigation > ul > li > a, .navigation > ul > li:hover > a {
	color:					#34A1BE;
	font-weight: 400; 
	font-size: 12pt;
/* text-shadow: 1px 1px #cccccc; */
}
.menu--main > ul > li:hover,
.menu--main > ul > li:hover > a  {
	background:				#34A1BE !important;
	color:					#FFFFFF !important;
	text-decoration:		none;
	box-shadow: 1px 7px 9px -3px rgba(0, 0, 0, 0.5);}
.navigation >ul li.logOut > a  {
	background:none repeat scroll 0 0 #34A1BE !important;
	color:#fff;}

.navigation > ul > li > ul {
	background:				#f9f9f9 !important;
	border:					1px solid #34A1BE;
}



.NavigationDisplayApp ul li {
	margin-left:			0;
}
.NavigationDisplayApp ul li.open li .elem {
	padding-left:			10px;
}
.NavigationDisplayApp div.elem {
	float: none !important;
}
.NavigationDisplayApp div.icon {
	display: none !important;
}
.NavigationDisplayApp ul li.open > div.icon, 
.NavigationDisplayApp ul li.closed > div.icon, 
.NavigationDisplayApp ul li.nosub > div.icon {
	ZZbackground:				url("images/deBib_DoRood.png") no-repeat -16px 0 !important;
}


.dijitTitlePaneContentInner .appcontent .NavigationDisplayApp ul li a span {color:#333333 !important;}
.dijitTitlePaneContentInner .appcontent .NavigationDisplayApp ul li a:hover span {color:#FFFFFF !important;} /* 34A1BE */
.NavigationDisplayApp ul li { 
	margin-left: 			25px;
	display: 				list-item !important;
	list-style-type:		circle;
}
.NavigationDisplayApp ul li:hover {
	list-style-type:		disc;
}
.NavigationDisplayApp span.selected span {
	text-decoration:		underline;
	cursor:					default;
	color:					#CCBBAA !important;
}

ZZbody .RichTextItem .additional a { 
	background:				none !important;
	padding-left: 			0 !important;
}

.apptitle {
	border-top:				none;
	margin: 				8px 0 0;
}
.apptitle {
	border-top:1px solid #f9f9f9;
}

a:hover, a:hover span {
	text-decoration:		underline;
}
.recordDisplayElement .image img, .listItem .image img, #divRelatedWorks .image img,
.HeaderNavigation .SearchInner #sOptions {
	border-color:			#34A1BE; 
}
#recordDisplay .FullMaterialType, .recordDisplayElement .briefMaterial, .recordDisplayElement .FullMaterialType {
    color: #34A1BE; 
    font-weight: 400;
}

.RichTextItem img,
.StyleImage, .imageDiv .image, .oneRow .image img, #cover img {
	border:none !Important;
	filter: none !Important;
	-ms-filter:none !Important;
	-moz-box-shadow:none !Important;
	-webkit-box-shadow:none !Important;
	box-shadow:none !Important;
}

.RichTextItem .appcontent tr, 
.PaymentsDue tr, 
.LoanHistory tr, 
.dj_ie .RichTextItem .appcontent tr td, .dj_ie .RichTextItem .appcontent tr th, 
.dj_ie .PaymentsDue tr td, .dj_ie .PaymentsDue tr th, .dj_ie .LoanHistory tr td, .dj_ie .LoanHistory tr th {
    border-bottom: 1px solid #34A1BE;
	background:inherit !important;
}

.ResultsWiki .apptitle h2,
.cloud .cloud1 a {				font-size:20px; color: #34A1BE !important; }
.cloud .cloud2 a {				font-size:18px;	color: #077998; }
.cloud .cloud3 a {				font-size:18px;	color: #127793; }
.cloud .cloud4 a {				font-size:16px;	color: #1e748d; }
.cloud .cloud5 a {				font-size:16px;	color: #2c7285; }
.cloud .cloud6 a {				font-size:14px;	color: #3a6f7e; }
.cloud .cloud7 a {				font-size:14px;	color: #486d77;	}
.cloud .cloud8 a {				font-size:12px;	color: #556a70;}
.cloud .cloud9 a {				font-size:12px; color: #60686b;	}
.cloud .cloud10 a{				font-size:12px; color: #666666;	}

.ZZZZdijitLeaf,
ul.mainnavigation > li > a > span {
	background-image: 			/* url("images/ArrowDown.gif") */ none !important;
} 
 ul.mainnavigation > li > ul {
width: 290px; } 

ul.mainnavigation > li > ul > li {
	width						: 100%; }

ul.StaticNavigationNSAlt li.sub a span {
	background: 			transparent !Important;
}

#divSearchRecord .displayTable tr td:first-child, #divItemDetails tbody tr td:first-child, #divLists .listItem td:first-child > a,

.RichTextItem .StyleLinkDot,

.RichTextItem .StyleButtonDot,

.RichTextItem .StyleListDot ul li,

.LinkRequest .name,
#divRestrictions .restriction, 
#divSearchAssociations .association,
#UserDataSummaryDiv tr td.label, #LinkedAccountsDiv .name,

/* ul.StaticNavigationNSAlt li.subsub a span {
	background-image: 			url(images/Dot.gif) !Important;
} */

.dijitOpen > .dijitArrowNode > .dijitArrowNodeInner,
.dijitOpen:hover > .dijitArrowNode > .dijitArrowNodeInner,

.dijitClosed .dijitArrowNode .dijitArrowNodeInner,
.dijitClosed:hover .dijitArrowNode .dijitArrowNodeInner  {					
	ZZbackground-image: 			url(images/Icons.png) !important;
}

.GenericRSSReader .feedItemInner > span,
.dijitTitlePane .dijitEditNode, .dijitTitlePane .dijitEditNode:hover,
#collapseExpandLA.collapsed, #collapseExpandPD.collapsed, .dijitTitlePane .dijitClosed,
#collapseExpandLA.collapsed:hover, #collapseExpandPD.collapsed:hover, .dijitTitlePane .dijitClosed:hover,
#collapseExpandLA.expanded, #collapseExpandPD.expanded, .dijitTitlePane .dijitOpen,
#collapseExpandLA.expanded:hover, #collapseExpandPD.expanded:hover, .dijitTitlePane .dijitOpen:hover,
.dijitDialogCloseIcon, #divInterests .overview div.remove, #LinkedAccountsDiv .remove, .dijitTitlePane .dijitCloseNode,
.dijitDialogCloseIcon:hover, #divInterests .overview div.remove:hover, #LinkedAccountsDiv .remove:hover, .dijitTitlePane .dijitCloseNode:hover,
.dijitFolderClosed, .dijitFolderClosed:hover,
.dijitFolderOpened, .dijitFolderOpened:hover,
div.dispIcons div.dispFull a span, div.dispIcons div.dispFull a:hover > span, 
div.dispIcons div.dispCover a span, div.dispIcons div.dispCover a:hover > span, 
div.dispIcons div.dispText a span, div.dispIcons div.dispText a:hover > span {	
	background:	url(images/sprite.png) !important;
}


.dijitTitlePane .dijitEditNode  {			background-position:    0    -96px !important;}
.dijitTitlePane .dijitEditNode:hover  {		background-position:    0   -116px !important;}


.GenericRSSReader .feedItemInner .closed:hover,
#collapseExpandLA.collapsed:hover,
#collapseExpandPD.collapsed:hover,
.dijitTitlePane .dijitClosed:hover  {	/*	background-position:  -20px -116px !important; */}

.GenericRSSReader .feedItemInner .opened,
#collapseExpandLA.expanded,
#collapseExpandPD.expanded,
.dijitTitlePane .dijitOpen  {				background-position:  -40px  -96px !important;}

.GenericRSSReader .feedItemInner .opened:hover,
#collapseExpandLA.expanded:hover,
#collapseExpandPD.expanded:hover,
.dijitTitlePane .dijitOpen:hover  {			background-position:  -40px -116px !important;}

.GenericRSSReader .feedItemInner > a {
font-weight: normal; font-size: 12pt; color: inherit;
}
.GenericRSSReader .feedItemPreview {
    color: inherit;
    font-style: 				normal;
    padding-left: 				20px;
    margin-bottom: 10px;
	
}

.dijitDialogCloseIcon,
#divInterests .overview div.remove,
#LinkedAccountsDiv .remove,
.dijitTitlePane .dijitCloseNode  {			background-position:  -60px  -96px !important;}
.dijitDialogCloseIcon:hover,
#divInterests .overview div.remove:hover,
#LinkedAccountsDiv .remove:hover,
.dijitTitlePane .dijitCloseNode:hover {		background-position:  -60px -116px !important;}

.dijitFolderClosed  {						background-position:  -80px  -96px !important;}
.dijitFolderClosed:hover  {					background-position:  -80px -116px !important;}
.dijitFolderOpened  {						background-position: -100px  -96px !important;}
.dijitFolderOpened:hover  {					background-position: -100px -116px !important;}

div.dispIcons div.dispFull a span {			background-position:    0   -136px !important;} 
div.dispIcons div.dispFull a:hover > span {	background-position:    0   -166px !important;}
div.dispIcons div.dispCover a span {		background-position:  -30px -136px !important;}
div.dispIcons div.dispCover a:hover > span {background-position:  -30px -166px !important;}
div.dispIcons div.dispText a span {			background-position:  -60px -136px !important;}
div.dispIcons div.dispText a:hover > span {	background-position:  -60px -166px !important;}

body.FlandersBlue #divLists .dijitButtonNode div, .dialogButtons button.dijitButtonNode div,

body.FlandersBlue #additionalbefore ul.appLinks > li > a,
body.FlandersBlue #divInterests .generalInfo a.NeedHelp,
body.FlandersBlue .RichTextItem .additional a,
body.FlandersBlue .recordDisplayElement div.FullRequest a.linkTo,
body.FlandersBlue .otherSources .externalLink a,
body.FlandersBlue .divVlink .linkVlink a,
body.FlandersBlue #sOptions .advancedLink a,
body.FlandersBlue .SearchBox #sBoxOptions .advancedLink a,
body.FlandersBlue .itemFull .reserveItem a,
body.FlandersBlue .itemCover .reserveItem a,
body.FlandersBlue .itemText .reserveItem a,
body.FlandersBlue .relAuthors .relAuthor a,
body.FlandersBlue .EditBorrowerData .helpLink a,
body.FlandersBlue #itemDetailsLink a, .showItemDetails a,
body.FlandersBlue .LinkRequest .linkEntry .buttons a,
body.FlandersBlue .viewInfo a,
body.FlandersBlue #optionsExpanded div.option a, .SearchResults .leftDiv .switchSearchSimpleEmbedded a, .searchFormSimple .switchSearchSimple a,
body.FlandersBlue .zeroHits .linkVlink a, .zeroHits .searchAll a, .zeroHits .altTerm a, 
body.FlandersBlue #divListOptions a, #divLists a, #divSearchScreen .more a, #divSearchScreen .switchSearchAdvanced a, #divSearchResultsCMS .shortRecord a, #divInterests .add a, #divReviews .addReviewLink a, #divReviews .editReviewLink a, #divReviews .deleteReviewLink a, #vote a, #moreInfo a, #divRecordOptions .option a, .UserActivities .navigation a, .modifyData a, .newRequest a, .cancelSelected a, .cancelAll a,  .deleteSelected a, .selectPublic a, .selectAll a,
body.FlandersBlue .UserActivities .navigation a,
body.FlandersBlue #divResultsOptions ul a,
body.FlandersBlue .feedItemInner,
body.FlandersBlue .calendarLinkDiv div a,
body.FlandersBlue div.appcontent div.singleEvent,
body.FlandersBlue .dijitDialog a,

body.FlandersBlue #zdivSearchScreen button.dijitButtonNode div, .zsearchFormSimple button.dijitButtonNode div,

body.FlandersBlue .RichTextItem .StyleLinkArrow,

body.FlandersBlue .RichTextItem .StyleButtonArrow,

body.FlandersBlue .dijitLeaf,
body.FlandersBlue #pendingLinkRequest a {
	background-image: 				url(images/ArrowRight.png) !important;
}

.RichTextItem .StyleListArrow ul li {
	color:						#333333 !Important;
	list-style: 				disc url(images/ArrowRight.png) outside;
}

div.dispIcons div.dispFull a span,
div.dispIcons div.dispCover a span,
div.dispIcons div.dispText a span,
div.dispIcons div.dispFull a:hover > span,
div.dispIcons div.dispCover a:hover > span,
div.dispIcons div.dispText a:hover > span {
	background-image: 					url(images/sprite.png);
}


.dijitDialog { border: 1px solid #34A1BE;}
.UserActivities .title,
.dijitDialogTitle { 
	color:#34A1BE !important;
	font-family: Montserrat, sans-erif;
	font-size: 20px;
	font-weight: 400;}

.recordDisplayElement .briefZIZO,
.recordDisplayElement .FullZIZO {
	line-height					: 50px; }
.recordDisplayElement .briefZIZO img,
.recordDisplayElement .FullZIZO img {
	float						: left;
    padding						: 0 5px 5px 0; }


/* Header, nav & search */

#header .searchDiv,
#header .searchDiv > div{
/*	float:left; 
	 height:auto; */
	margin:0;
}
#header .searchDiv {
    float: right;
    margin-top: -10px !important;
    margin-right: 20px;
    position: absolute;
    right: 100px;
}
	
#header .navDiv > div,
#header .navDiv > div > div > div {
	float:none;}
#header .navDiv > div > div > div > div,
#header .navDiv > div > div > div > div > div {
	float:left;
	height:auto;
	margin:0;
	position:static;}
#header .navDiv .row1 {
	margin-top:17px !important;
	clear:none;
	float:right;}
#header .navDiv .row2 {
	float:right !important;
	margin-top:30px !important;}
#header .navDiv #normala {
	background:none;}
#header .navDiv .logOut a {
	color: #34A1BE;
	font-weight:bold;}


.HeaderBasicInner div.row3 .buttonHolder a {
	height:25px;
	vertical-align:bottom;
	font-weight: normal;
	color: #34A1BE;
}

div#header div.searchbox div.searchterm {
	padding-top:5px;} 
.HeaderNavigation .navDiv {
	width: auto;}

#footer .payoff{
	text-align:				center;
	font-size:				x-small;
	margin-bottom:			3px;
	visibility: hidden;
}
#footer, #footerinner, #footer div { text-align: left; } 




body.ie9 .navigation,
body.ie9 .column .application .apptitle,
body.ie9 .deBib.application,
body.ie9 .deBib.application .apptitle {
	filter:none;}


/* Default link with Arrow */
a.link2,
.searchTree.textOnly a, 
a.sortOK,
#additionalbefore ul.appLinks > li > a,
#divInterests .generalInfo a.NeedHelp,
.RichTextItem .additional a,
.recordDisplayElement div.FullRequest a.linkTo,
.otherSources .externalLink a,
.divVlink .linkVlink a,
#sOptions .advancedLink a,
.SearchBox #sBoxOptions .advancedLink a,
.itemFull .reserveItem a,
.itemCover .reserveItem a,
.itemText .reserveItem a,
.relAuthors .relAuthor a,
.EditBorrowerData .helpLink a,
#itemDetailsLink a, .showItemDetails a,
.LinkRequest .linkEntry .buttons a,
.viewInfo a,
#optionsExpanded div.option a, .SearchResults .leftDiv .switchSearchSimpleEmbedded a, .searchFormSimple .switchSearchSimple a,
.zeroHits .linkVlink a, .zeroHits .searchAll a, .zeroHits .altTerm a, 
#divListOptions a, #divLists a, #divSearchScreen .more a, #divSearchScreen .switchSearchAdvanced a, #divSearchResultsCMS .shortRecord a, #divInterests .add a, #divReviews .addReviewLink a, #divReviews .editReviewLink a, #divReviews .deleteReviewLink a, #vote a, #moreInfo a, #divBrowseOptions .option a, #divListOptions .option a, #divRecordOptions .option a, .UserActivities .navigation a, .modifyData a, .newRequest a, .cancelSelected a, .cancelAll a,  .deleteSelected a, .selectPublic a, .selectAll a,
.UserActivities .navigation a, 
#divResultsOptions ul a,
#divResultsOptions .option a,
.feedItemInner,
.calendarLinkDiv div a,
div.appcontent div.singleEvent,
.appLink a,
.dijitDialog .guestRegister a, .dijitDialog .forgotPassword a {
	background : 				url(images/arrowRight.png) no-repeat left 0px !Important;
	font-weight:				normal !Important;
	padding-left:				30px !Important;
	padding-bottom: 5px;
	padding-top: 3px;
	text-decoration:			none !Important;
	color:    					#333333 !Important;
}


/* Default for (DJIT) BUTTONS */
.buttonLink span,
.dijitButton, .dijitButton *,
.RichTextItem .StyleButton, .RichTextItem .StyleButton *,
.topInfo a {
	border:						none !Important;
	background:					#FFFFFF !Important;
	color:						#FFFFFF !Important;
	padding:					0 !Important;
	margin:						0 !Important;
	text-decoration:			none !Important;
	font-weight:				normal !Important;
	line-height:				25px !Important;
	vertical-align:				middle !Important;
}
.dijitButton > button > span
 {
	display:					none;
}
/* BUTTONS */

.buttonLink span,
.dijitButton > button > div,
.dijitButton > button.dijitButtonNode > div,
.RichTextItem .StyleButton,
.topInfo a, .topInfo a *,

.buttonLink span:hover,
.dijitButton > button:hover > div,
.RichTextItem .StyleButton:hover,
.topInfo a:hover {
	background-image: 				url(images/ButtonsLeft.png) !Important; 
	background-color:#84c9db;
}
.buttonLink span a,
.dijitButton > button > div > center,
.RichTextItem .StyleButton > span,
.topInfo a > span {

}

.buttonLink span:hover > a,
.dijitButton > button:hover > div > center,
.RichTextItem .StyleButton:hover > span,
.topInfo a:hover > span {
	background-color:#34a0be;
	background-image: 			url(images/ButtonsRight.png) !Important; 
}


.link2.button,
.buttonLink span,
.dijitButton > button > div,
.RichTextItem .StyleButton,
.topInfo a, .topInfo a * {
	height: 					26px !Important;
	display:					inline-block !Important;
	background: 				url(images/ButtonsLeft.png) no-repeat top  left !Important;
	color:						#FFFFFF !Important;
	line-height:				26px !Important;
	vertical-align:				middle !Important;
	cursor:						pointer !Important;
	padding-left: 				0 !important;
}

.link2.button.renewOne {
	height: 					23px !Important;
	display:					inline-block !Important;
	background: 				url(images/ButtonsLeft.png) no-repeat top left !Important;
	color:						#FFFFFF !Important;
	line-height:				30px !Important;
	vertical-align:				middle !Important;
	cursor:						pointer !Important;
	padding-left: 				0 !important;
	padding-top: 0px; 
}
.link2.button.renewOne:hover {
	background: 				url(images/ButtonsLeft.png) no-repeat bottom 2px left !Important; 
	text-decoration:			none !Important;
	font-weight:				normal !Important;
	padding-top: 0px; 
}


.link2.button > span,
.buttonLink span a,
.dijitButton > button > div > center,
.RichTextItem .StyleButton > span,
.topInfo a > span{
	height: 					26px;
	display:					inline-block;
	margin-left:				23px !Important;
	padding-right:				20px !Important;
	background: 				url(images/ButtonsRight.png) no-repeat top right !Important; 
	color:						#FFFFFF !Important;
}
.link2.button:hover,
.buttonLink span:hover,
.dijitButton > button:hover > div,
.RichTextItem .StyleButton:hover,
.topInfo a:hover {
	background: 				url(images/ButtonsLeft.png) no-repeat bottom left !Important; 
	text-decoration:			none !Important;
	font-weight:				normal !Important;
}
.link2.button:hover > span,
.buttonLink span:hover > a,
.dijitButton > button:hover > div > center,
.RichTextItem .StyleButton:hover > span,
.topInfo a:hover > span {
	background: 				url(images/ButtonsRight.png) no-repeat bottom right !Important; 
	text-decoration:			none !Important;
	font-weight:				normal !Important;
}




/* BUTTONS */
/*
.buttonLink span,
.dijitButton > button > div,
.dijitButton > button.dijitButtonNode > div,
.RichTextItem .StyleButton,
.topInfo a, .topInfo a *,
.buttonLink span:hover,
.dijitButton > button:hover > div,
.RichTextItem .StyleButton:hover,
.topInfo a:hover {
  background: #84c9db;
  text-decoration: none;
}
.buttonLink span a,
.dijitButton > button > div > center,
.RichTextItem .StyleButton > span,
.topInfo a > span {

}

.buttonLink span:hover > a,
.dijitButton > button:hover > div > center,
.RichTextItem .StyleButton:hover > span,
.topInfo a:hover > span {
  background: #84c9db;
  text-decoration: none;
}



.link2.button,
.buttonLink span,
.dijitButton > button > div,
.RichTextItem .StyleButton,
.topInfo a, .topInfo a * {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 12pt;
  background: #34A1BE;
  padding: 10px 20px 10px 20px;
  border: solid #34a1be 2px; 
  text-decoration: none;
}
.link2.button > span,
.buttonLink span a,
.dijitButton > button > div > center,
.RichTextItem .StyleButton > span,
.topInfo a > span{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 12pt;
  background: #34A1BE;
  padding: 10px 20px 10px 20px;
  border: solid #34a1be 2px; 
  text-decoration: none;
}
.link2.button:hover,
.buttonLink span:hover,
.dijitButton > button:hover > div,
.RichTextItem .StyleButton:hover,
.topInfo a:hover {
  background: #84c9db;
  text-decoration: none;
}
.link2.button:hover > span,
.buttonLink span:hover > a,
.dijitButton > button:hover > div > center,
.RichTextItem .StyleButton:hover > span,
.topInfo a:hover > span {
  background: #84c9db;
  text-decoration: none;
}

*/

/* END BUTTONS */

.dijitTextBoxFocused,
.dijitComboBoxFocused,
.dijitSpinnerFocused {
	
	border-color:#34A1BE;
}
.normal .dijitButtonText {
    font-size: 14px; padding-top: 3px;
}

.svtb {width: 100%; height: 100%;}
.svrow {width: 100%; min-height: 1px; height: auto; margin: 0;}
.svcell {float: left; margin: 0; padding: 0;}
.onecol {width: 100%;}
.twocol {width: 50%;}
.ctb {width: 30px;}

#divSearchRecord .displayTable {
    width: 100%;
    border: 1px solid #84C9DB;
    padding-right: 4px;
}
#shelfMarks .displayTable tr.available td.availStatus {
/*    color: #34A1BE; */
}
#shelfMarks .displayTable tr td {
    background: none !important;
    padding-bottom: 0px !important;
}
#shelfMarks table caption, .mainOptions  {
    font-family: 'Montserrat', sans-serif;
    color: #34A1BE;
    font-size: 20px;
/*    font-weight: bold; */
    margin-bottom: 5px;
}
#shelfMarks .displayTable tr td:first-child > .title {
    font-weight: normal;
}

#shelfMarks .displayTable tr td {
    background: none !important;
    padding-bottom: 2px;
}
#shelfMarks .displayTable tr + tr td {
    border-top: 1px solid #CCCCCC;
    padding-top: 2px;
}

.RichTextItem .appcontent tr, .ItemDetails tr, .PaymentsDue tr, .LoanHistory tr, .dj_ie .RichTextItem .appcontent tr, .dj_ie .ItemDetails tr td, .dj_ie .ItemDetails tr th, .dj_ie .PaymentsDue tr td, .dj_ie .PaymentsDue tr th, .dj_ie .LoanHistory tr td, .dj_ie .LoanHistory tr th {
    border-bottom: 1px solid #34A1BE;
    background: #FFFFFC !Important;
}

#divSearchRecord .displayTable tr td:first-child, #divItemDetails tbody tr td:first-child, #divLists .listItem td:first-child > a {
    background: url(images/Dot.gif) no-repeat left center;
}


.GenericRSSReader .feedItemInner a.closed {
    float: right;
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
    background-image: url(images/Icons.png) !important;
}

.GenericRSSReader .feedItemInner a.opened, .GenericRSSReader .feedItemInner a.closed {
    float: right;
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
    background-image: url(images/Icons.png) !important;
}

.GenericRSSReader .feedItemInner, .GenericRSSReader li {
    padding: 2px 8px;
    margin: 5px 0px 5px 0px !important;
    display: block;
}

.recordDisplayElement .title {
    font-weight: 400;
	font-size: 16pt;
}

.River {
/*background-color: #84C9DB !important; */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84c9db+0,ffffff+100 */
background: #84c9db; /* Old browsers */
background: -moz-linear-gradient(top, #84c9db 0%, #f9f9f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84c9db), color-stop(100%,#f9f9f9 )); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #84c9db 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #84c9db 0%,#f9f9f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #84c9db 0%,#f9f9f9 100%); /* IE10+ */
background: linear-gradient(to bottom, #84c9db 0%,#f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c9db', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

 }

.River .title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 5px;
    left: 20px;
/*    color: #34A1BE; */
    height: 40px;


}
.River .title .main {
 font-weight: 400 !important;
    font-size: 200%;

}
.River .title span {
    -moz-text-shadow: 0px 1px 1px #000 !important;
    -webkit-text-shadow: 0px 1px 1px #000 !important;
    text-shadow: 0px 1px 1px #000 !important;
}

.River .ui {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 12pt;
    font-family: 'Montserrat';
}

.River .ui .pause, .River .ui .left, .River .ui .right {
    background-color: #C0C0C0 !important;
    color: #34A1BE !important;
}

.River .cover .inner {
    background-color: white;
    padding: 5px;
    -moz-box-shadow: 0px 1px 1px #000 !important;
    -webkit-box-shadow: 0px 1px 1px #000 !important;
    box-shadow: 0px 1px 1px #000 !important;
}

#lightbox {
    position: absolute !important;
    text-align: center;
    /* width: 400px; */
    z-index: 500;
    /* height: 300px; */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
#lightbox .title { font-size: larger; }

#lightbox .inner .cover {
    position: relative;
    float: left;
    /* width: 120px; */
    padding: 5px;
}
#lightbox .close {
    position: absolute;
    top: 2px;
    right: 6px;
    background: url(images/close.png) no-repeat 0 0  !important;
    width: 20px !important;
    height: 20px !important;
    z-index: 500;
}
#lightbox .inner .button {
	float: left;
	padding-right: 10px;
	margin-bottom: 10px;
}
#lightbox .inner .button a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 10pt;
  background: #34A1BE;
  padding: 5px 10px 5px 10px;
  border: solid #34a1be 1px; 
  text-decoration: none;

}
#lightbox .inner .button a:hover {
  background: #84c9db;
  text-decoration: none;
color: #ffffff !important;
}

/* Maps */
#map_canvas { 
	height						: 100% }
    
#map_canvas .mapPopup * {
	color						: #333333;
	font-family					: Hind,arial,sans-serif;
	font-size					: 1em;
	font-size-adjust			: .5;}
#map_canvas .mapPopup div {
	margin-bottom				: 10px;}
#map_canvas .mapPopup .telephone {
	margin-bottom				: 0px;}
#map_canvas .mapPopup .mail {
	margin-bottom				: 20px;}
#map_canvas .mapPopup .general .title {
	font-family: 'Montserrat', sans-serif;
	color						: #34A1BE;
	font-weight					: 400;
	font-size: 14pt;
	margin-bottom				: 0px;}
#map_canvas .mapPopup .remaining {
	font-weight					: normal;}
#map_canvas .mapPopup .title {
	font-family: 'Montserrat', sans-serif;
	color						: #34A1BE;
/*	font-size-adjust			: 0.6; */
	font-weight					: normal;}
#map_canvas .mapPopup .directions {
	background					: url(images/arrowRight.png) no-repeat left center;
	padding-left				: 30px;
	text-decoration				: none;}


/* end maps */ 

.LoginDialog .guestRegister, .LoginDialog .forgotPassword {
    padding: 10px 0 0 0;
    color: #34a1be;
    font-weight: 400;
}
.recordDisplayElement.notools > .data {
    margin-left: 150px;
}
.recordDisplayElement.smallimage > .image {
    width: 95px !Important;
    padding-right: 15px;
}
.noImageOverlay {
    position: absolute;
    top: 10px;
    text-align: left;
    width: 100px;
    padding: 15px;

}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
}




/* .mainOptions .option * {
    background-color:#34a1be ;
    display: block;
    padding: 2px 5px 2px 7px;
    text-align: center;
    font-family: Montserrat, sans-erif;
    font-size: 16px;
    color: #ffffff;
} */

.mainOptions .option * {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff !important;
  font-size: 12pt;
  background: #34A1BE;
  padding: 5px 5px 5px 5px; 
  border: solid #34a1be 2px; 
  text-decoration: none;
  font-weight: normal;
}

.mainOptions .option:hover * {
  background: #84c9db;
  text-decoration: none;
}
.mainOptions .option span { border: 0px; }
.mainOptions .optionSep {     visibility: hidden;
 }



.itemFull .title, .itemText .title {
    margin-top: 0px !Important;
    line-height:inherit;
}

.mainOptions {
    padding-bottom: 20px;
    /* padding-top: 10px; */
}
#shelfMarks .displayTable tr td {
    background: none !important;
/*    padding-bottom: 10px; */
}
#additionalContainer .additionalTitle, .dijitDialogTitleBar {
    color: #f47921;
    font-weight: normal;
    font-size-adjust: +0.6;
    line-height: inherit;
    margin: 2px 0px 10px 0px;
    border-bottom: 1px dotted #333333;
}
.normal .dijitDialogTitle {
    /* font-size: 14px; */
}

body .UserActivities #anchor_menu li > span {
    margin: 0 0 0 45px !important;
}

a.link2, .searchTree.textOnly a, a.sortOK, #additionalbefore ul.appLinks > li > a, #divInterests .generalInfo a.NeedHelp, .RichTextItem .additional a, .recordDisplayElement div.FullRequest a.linkTo,  .otherSources .externalLink a, .divVlink .linkVlink a, #sOptions .advancedLink a, .SearchBox #sBoxOptions .advancedLink a, .itemFull .reserveItem a, .itemCover .reserveItem a, .itemText .reserveItem a, .relAuthors .relAuthor a, .EditBorrowerData .helpLink a, #itemDetailsLink a, .showItemDetails a, .LinkRequest .linkEntry .buttons a, .viewInfo a, #optionsExpanded div.option a, .SearchResults .leftDiv .switchSearchSimpleEmbedded a, .searchFormSimple .switchSearchSimple a, .zeroHits .linkVlink a, .zeroHits .searchAll a, .zeroHits .altTerm a, #divListOptions a, #divLists a, #divSearchScreen .more a, #divSearchScreen .switchSearchAdvanced a, #divSearchScreen .switchSearchExpert a, #divSearchResultsCMS .shortRecord a, #divInterests .add a, #divReviews .addReviewLink a, #divReviews .editReviewLink a, #divReviews .deleteReviewLink a, #vote a, #moreInfo a, #divBrowseOptions .option a, #divListOptions .option a, #divRecordOptions .option a, #browseNavOptions a, .UserActivities .navigation a, .modifyData a, .newRequest a, .cancelSelected a, .cancelAll a,  .deleteSelected a, .selectPublic a, .selectAll a, .UserActivities .navigation a, #divResultsOptions ul a, #divResultsOptions .option a, .feedItemInner, .calendarLinkDiv div a, div.appcontent div.singleEvent, .appLink a, .dijitDialog .guestRegister a, .dijitDialog .forgotPassword a, .addMoodLink a {
    background: url(images/arrowRight.png) no-repeat left 0px !Important;
    font-weight: normal !Important;
    padding-left: 24px !Important;
    text-decoration: none !Important;
    color: #333333 !Important;
}
ul.browseList li:hover a span {
	color:#34A1BE;}

a.link2:hover,
.searchTree.textOnly a:hover, 
a.sortOK:hover > span,
#additionalbefore ul.appLinks > li > a:hover span,
#divInterests .generalInfo a.NeedHelp:hover span,
.RichTextItem  .additional a:hover span,
.recordDisplayElement div.FullRequest a.linkTo:hover span,

.otherSources .externalLink a:hover span,
.divVlink .linkVlink a:hover span,
#sOptions .advancedLink a:hover span,
.SearchBox #sBoxOptions .advancedLink a:hover span,
.itemFull .reserveItem a:hover span,
.itemCover .reserveItem a:hover span,
.itemText .reserveItem a:hover span,
.relAuthors .relAuthor a:hover span,
.EditBorrowerData .helpLink a:hover span,
#itemDetailsLink a:hover, .showItemDetails a:hover,
.LinkRequest .linkEntry .buttons a:hover span,
.searchFormSimple .switchSearchSimple a:hover span,
#divSearchScreen .switchSearchAdvanced a:hover span,
#divSearchScreen .switchSearchExpert a:hover span,
.viewInfo a:hover,
#optionsExpanded div.option a:hover, .SearchResults .leftDiv .switchSearchSimpleEmbedded a:hover,
.zeroHits .linkVlink a:hover, .zeroHits .searchAll a:hover, .zeroHits .altTerm a:hover, 
#divListOptions a:hover, #divLists a:hover, #divSearchScreen .more a:hover,  #divSearchResultsCMS .shortRecord a:hover, #divInterests .add a:hover, #divReviews .addReviewLink a:hover, #divReviews .editReviewLink a:hover, #divReviews .deleteReviewLink a:hover, #vote a:hover, #moreInfo a:hover, #divBrowseOptions .option a:hover, #divListOptions .option a:hover, #divRecordOptions .option a:hover, #browseNavOptions a:hover, .UserActivities .navigation a:hover, .modifyData a:hover, .newRequest a:hover, .cancelSelected a:hover, .cancelAll a:hover, .renewSelected a:hover, .renewAll a:hover, .deleteSelected a:hover, .selectPublic a:hover, .selectAll a:hover,
.UserActivities .navigation a:hover, 
#divResultsOptions ul a:hover,
#divResultsOptions .option a:hover,
.feedItemInner a:hover,
.calendarLinkDiv div a:hover,
div.appcontent div.singleEvent a:hover,
.dijitDialog a:hover,
.addMoodLink a:hover {
	font-weight:				normal !Important;
	color:    					#34A1BE !Important;
}

.SelectedForYou .links span,
.SelectedForYou .header,
.dijitTreeLabel:hover,
.apptitle h1, .apptitle h2,
#useractivities a, #logoff a, #logon a,
/* .RichTextItem .appcontent a, */
.SearchBox .SearchInner #sOptions > .searchIn, .HeaderNavigation .SearchInner #sOptions > .searchIn,
#additionalbefore ul.appLinks > li > a:hover span,
#divInterests .generalInfo a.NeedHelp:hover span,
.RichTextItem  .additional a:hover span,
.recordDisplayElement div.FullRequest a.linkTo:hover span,

.otherSources .externalLink a:hover span,
.divVlink .linkVlink a:hover span,
#sOptions .advancedLink a:hover span,
.SearchBox #sBoxOptions .advancedLink a:hover span,
.itemFull .reserveItem a:hover span,
.itemCover .reserveItem a:hover span,
.itemText .reserveItem a:hover span,
.relAuthors .relAuthor a:hover span,
.EditBorrowerData .helpLink a:hover span,
#itemDetailsLink a:hover, .showItemDetails a:hover,
.LinkRequest .linkEntry .buttons a:hover span,
.searchFormSimple .switchSearchSimple a:hover span,
#divSearchScreen .switchSearchAdvanced a:hover span,
.viewInfo a:hover,
#optionsExpanded div.option a:hover, .SearchResults .leftDiv .switchSearchSimpleEmbedded a:hover,
.zeroHits .linkVlink a:hover, .zeroHits .searchAll a:hover, .zeroHits .altTerm a:hover, 
#divListOptions a:hover, #divLists a:hover, #divSearchScreen .more a:hover,  #divSearchResultsCMS .shortRecord a:hover, #divInterests .add a:hover, #divReviews .addReviewLink a:hover, #divReviews .editReviewLink a:hover, #divReviews .deleteReviewLink a:hover, #vote a:hover, #moreInfo a:hover, #divRecordOptions .option a:hover, .UserActivities .navigation a:hover, .modifyData a:hover, .newRequest a:hover, .cancelSelected a:hover, .cancelAll a:hover, .renewSelected a:hover, .renewAll a:hover, .deleteSelected a:hover, .selectPublic a:hover, .selectAll a:hover,
.UserActivities .navigation a:hover, 
#divResultsOptions ul a:hover,
.feedItemInner a:hover,
.calendarLinkDiv div a:hover,
div.appcontent div.singleEvent a:hover,
.dijitDialog a:hover,
#divListOptions .option a:hover,
.navigationPageCurrent,
.externalLink .linkSearchTerm, .SearchResults .leftDiv .searchKey,
 .iWantTo * {

	color:					#34A1BE !important; 

}

.RichTextItem .appcontent a {
	color:					#34A1BE; 
}



#recordData .mainOptions .option a:hover { color: #ffffff !important;}

.MenuTitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400; 
} 

.BannerSWF .openClose .close {
    background: url(images/RiverClose.png) no-repeat 0 0 !important;
}

/* .renewSelected a, renewAll a, */
.recordDisplayElement div.FullUrl a, div.BriefUrl a,
/* a.linkTo, */ 
.btn, .btn a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff !important;
  font-size: 16px;
  background: #34A1BE !important;;
  padding: 8px 16px 8px 16px;
  border: solid #34a1be 2px; 
margin-bottom: 5px;
  text-decoration: none !important;
}
.recordDisplayElement a.linkTo {
text-decoration: underline;
color: #34A1BE;
}
.recordDisplayElement a.linkTo:hover {
text-decoration: none;
}

/* .renewSelected a:hover, renewAll a:hover, */
 .recordDisplayElement div.FullUrl a:hover, div.BriefUrl a:hover,
/* a.linkTo:hover , */
.btn:hover  {
  background: #84c9db !important;
  text-decoration: none !important;
cursor: pointer;
}

.BriefUrl {
padding-top: 10px; 
padding-bottom: 10px;
}

.recordDisplayElement div.FullUrl a.linkTo, div.BriefUrl a  
 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Montserrat;
  color: #ffffff !important;
  font-size: 12px;
  background: #34A1BE !important;;
  padding: 4px 12px 4px 12px;
  border: solid #34a1be 2px; 
margin-bottom: 5px;
  text-decoration: none !important;
}
/* .renewSelected a:hover, renewAll a:hover, */
 .recordDisplayElement div.FullUrl a:hover, div.BriefUrl a:hover,
 a.linkTo span:hover  {
  background: #84c9db !important;
  text-decoration: none !important;
cursor: pointer;
}

.recordOptions { margin-bottom: 5px;}

ul li {
    margin-left: 0px;
}

.loading {
    margin-top: 10px;
}
.cancelOne, .changeExpDate, .changePickupLoc {
padding-bottom:  0px !important;
padding-top: 0px !important;
}

.WarningMessage, #dlgReserveDiv .msgError, #dlgReserveDiv .msgOk { 
border: 1px solid red; 
}

ul.itemFull {
    list-style: none;
    padding-top: 20px;
}

.dijitCalendarSelectedYear {
    padding: 0.2em;
    padding-bottom: 0.1em;
    color: #34A1BE !important;
    font-weight: bold !Important;
}
.LinkRequest .name, #divRestrictions .restriction, #divSearchAssociations .association, #UserDataSummaryDiv tr td.label, #LinkedAccountsDiv .name {
    background: url(images/Dot.gif) no-repeat left center;
    padding-left: 12px;
}

fieldset.group {
    box-shadow: none;
}

fieldset.group legend {
	font-family: 'Montserrat', sans-serif;
	color: #34A1BE;
font-weight: normal;
font-size: 14pt;
    top: -1.25em;
    background: none repeat scroll 0 0 #FFFFFF;
/*    box-shadow: 0 0 3px 3px white; */
    padding: 0 3px;
    position: absolute;
/*    line-height: 2em; */

}
fieldset.group .label {
	color: #34A1BE;
    font-weight: normal;
}

fieldset.group .data {
    font-style: normal;
    margin-bottom: 10px;
}

fieldset.group.fieldSetMetaIdentification {
    visibility: hidden;
    height: 0;
    margin-top: -20px;
}

#PersonalDataDiv {
display: block !important;
}
.PersonalData .name {
    margin-top: 5px;
/*    font-family: 'Montserrat', sans-serif; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

#LinkedAccountsDiv .remove a {
/*    display: block;
    visibility: hidden;
    background: url(images/Icons.png) no-repeat 0px top;
    height: 20px;
    width: 20px;
    cursor: pointer; */
    margin-right: 0px; 
}

/* Changes to Welcome Screen */
.userMessage {
    Display: none;
}
div.searchTree > ul.textAndImage > li {
    background: none repeat scroll 0 0 #f9f9f9; 
    box-shadow: none;
    float: left;
    height: 135px;
    margin: 12px 10px;
    overflow: hidden;
    position: relative;
    width: 160px;
}



.moderator #columnwrapper div.column {
min-height: 0px !important;
/*    outline: 1px dashed red !important;
    padding-top: 10px;
    padding-bottom: 25px; */
}

.NoveListSelect {
	background-color:		#f9f9f9; }

.welcomebanner { 
/*
background: #84c9db; 
background: -moz-linear-gradient(top, #84c9db 0%, #f9f9f9 50%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84c9db), color-stop(50%,#f9f9f9 )); 
background: -webkit-linear-gradient(top, #84c9db 0%,#f9f9f9 50%); 
background: -o-linear-gradient(top, #84c9db 0%,#f9f9f9 50%); 
background: -ms-linear-gradient(top, #84c9db 0%,#f9f9f9 50%); 
background: linear-gradient(to bottom, #84c9db 0%,#f9f9f9 50%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c9db0', endColorstr='#f9f9f9',GradientType=0 ); 
*/
/* border-top: 2px solid #84c9db; */
padding: 5px; 
}



@media screen and (max-width:600px) {
    .nfplpromo { display: none; }
}
/*
@media handheld {
    .nfplpromo { display: none; }
} */
    

.servicealert {
	border: 2px solid #34A1BE;
	padding: 5px;

}
.servicealert h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu .dropdown-menu a{
    color: black !important;
}

.hiddena { color: #00FFFF !important; 
		display: none; }