
/********** VARIOUS DISPLAYS **********/
/*Logout Content pane*/
.dijitDialog{
	z-index: 1000 !important;
}
/*Center the buttonsHome div on the main page when on mobile view*/
@media screen and (max-width:500px){
	.buttonsHome img, .digitalResources img{ 
		display:block !important; margin: 0 auto !important;
		width: 70% !important;
	}
}
/*Service Alerts*/
@media screen and (min-width:828px){
	.servicealert { 
		border: 2px solid #ff0000 !important;
		display: inline-block;
	}
	.servicealert2 { display: none; }	
}
@media screen and (max-width:828px){
	.servicealert { display: none; }
	.logo{
		width: 70% !important;
	}
}
/*promo rotator*/
@media screen and (max-width:600px) {
    .nfplpromo { 
    	display: none; 
    }
}
/* miscellaneous fixes */
@media only screen and (max-width: 1280px) {
	div.HeaderBasicInner div.row2{
		top: -45px;
	}
	div.HeaderBasicInner div.row1 {	
		top: 13px !important;
	}	
	.servicealert {		 	
		top:18% !important;
	}
	div.searchDiv{ 
    	top: 14px !important;
	}
}
@media only screen and (max-width: 1280px) {
	div.HeaderBasicInner div.row1 {	
		top: 8px !important;
	}
	div.searchDiv{ 
    	top: 0px !important;
	}
}
@media only screen and (max-width: 850px){
	div.searchbox {
		right: 0.1% !important;
		bottom: 10% !important;
	}
}
@media only screen and (max-width: 577px){
	.logo{
		position: relative;
		top: 9px !important;
		width: 200px !important;
	}
}
@media only screen and (max-width: 507px){
	.logo{
		position: relative;
		top: 10px !important;
		width: 180px !important;
	}
}
@media only screen and (max-width: 487px){
	.logo{
		position: absolute;
		top: 19.5px !important;
		width: 65% !important;
	}
	#navigation{
		top: 1px !important;
	}
}
@media only screen and (max-width: 457px){
	.logo{
		position: absolute;
		top: 22px !important;
		width: 63% !important;
	}
	#navigation{
		top: 1px !important;
	}
}
@media only screen and (min-width:414px) and (max-width: 445px){
	.logo{
		width: 180px !important;
		top: 21px !important;
	}
	.searchbox{
		width: 50% !important;
		left: 48.0%;
	}
	.HeaderBasicInner div.row2{
		position: relative;
		top: -48px;
		text-align: center;
		z-index: 998;
		right:.3%;
		z-index: 998;
	}
	#navigation{
		top: 1px;
	}
}
@media only screen and (max-width: 413px){
	.searchbox{
		width: 96% !important;
		left: 1.0%;
	}
	.logo{
		width: 160px !important;
		top: 6px !important;
	}
	.HeaderBasicInner div.row1 {
		display: none;
	}
	.HeaderBasicInner div.row2{
		position: relative;
		top: -20px;
		text-align: center;
		z-index: 998;
		right:1%;
		z-index: 998;
	}
	#navigation{
		margin-top: 4px !important;
	}
	div.searchDiv{ 
		top: 3px !important;
	}
}
@media only screen and (max-width: 347px){
	.logo{
		width: 160px !important; 
		padding: none !important;
		margin: none;
		top: 1px !important;
	}		
	div.searchDiv{ 
		position: relative !important;
    	top: -60px !important;
    	left: -4px !important;
		padding: none !important;
	}
	#header{
		padding: 5px 0 0 2px;
		margin-bottom: -55px !important;
	}
	div.searchbox{
		width: 99% !important;
		left: -0.3%;
	}
	.smallsearch div.searchbox, #header div.searchbox {
		padding-bottom: 30px;
	}
	.HeaderBasicInner div.row2 {
		position: relative;
		top: 50px !important;
		text-align: center;
		font-size: 14px;
		z-index: 998;
		left: 1%;
	}
	.HeaderBasicInner div.row1 {
		display: block !important;
		position: relative;
		top: 0px !important;
		z-index: 998;
		left: 0%;
	}
	div#navigation{
		margin-top: 0px !important;
		top: -11px !important;
	}
}
@media only screen and (max-width: 312px) {
	div.HeaderBasicInner div.row2 {	
		display: none !important;
	}
	div.searchDiv{ 
    	display: none;
	}	
	div.HeaderBasicInner div.row1 {	
		display: none !important;
	}
	.logo{
		width: 170px !important;
		top: 1px !important;
	}
	div#navigation{
		margin-top: 40px !important;
		top: -15px !important;
	}
}

/********** PHONES AND TABLETS **********/
 /*iphone 6+ resolution Landscape*/
@media screen and (min-width:736px) and (max-width: 737px) and (orientation: landscape){
	.searchDiv{ 
		position: initial; 
		top:20px; 
		left:72%; 
		width:200px; 
	}
	.HeaderLogo{
		display:none !important; 
	}
	.logo{
		height:90px !important; 
	}
 }
/*iphone 6 resolution portrait*/
@media screen and (min-width:375px) and (max-width: 376px;) and (orientation: portrait){
	.logo { 
	position:relative !important;
	top:9px !important;
	height:100px !important;  
	width: 10% !important; 
	margin-bottom:11px !important; 
	margin-left:-2px !important; 
	margin-top: -8px !important; 
	}		
	.searchDiv{ 
		right: 127px !important; 
	}
}
/*LG G4 portrait*/
@media screen and (min-width:348px) and (max-width: 361px) and (orientation: portrait){	
	.logo{
		width: 190px !important; 
		height:50px !important; 
		padding: none !important;
		margin: none;
		top: 1px !important;
	}		
	div.searchDiv{ 
		position: relative !important;
    	top: -50px !important;
    	left: -4px !important;
		padding: none !important;
	}
	#header{
		padding: 5px 0 0 2px;
		margin-bottom: -55px !important;
	}
	div.searchbox{
		width: 99% !important;
		left: -0.3%;
	}
	#header .searchDiv {
    float: left;
    margin-top: 50px !important;
    margin-right: 0px;
    right: -100px;
	}
	.smallsearch div.searchbox, #header div.searchbox {
		padding-bottom: 30px;
	}
	.HeaderBasicInner div.row2 {
		position: relative;
		top: 60px !important;
		text-align: center;
		font-size: 14px;
		z-index: 998;
		left: 1%;
	}
	.HeaderBasicInner div.row1 {
		display: block !important;
		position: relative;
		top: 0px !important;
		z-index: 998;
		left: 0%;
	}
	div#navigation{
		margin-top: 0px !important;
		top: 2px;
	}
}

/*LG G4 landscape */
@media screen and (min-width: 640px)  and (max-width: 641px) and (orientation: landscape) {
	.logo{ 
		height: 20px !important;
	}
	.HeaderBasicInner div.row2 {
		position: relative;
		top: -35px;
		text-align: center;
		font-size: 14px;
		z-index: 998;
		left: -0.2%;
	}
	.HeaderBasicInner div.row1 {
		position: relative;
		top: 50px;
		z-index: 998;
		left: 0%;
	}	
	.searchbox{
		/*width: 99% !important;*/
		left: -0.3%;
		top: 25px;
	}
}