<div class="contain">
  <div class="row">
    <div class="col-md-12">
        {% if content.row1 %}
            {{ content.row1 }}
        {% endif %}
    </div>
     <div class="col-md-12">
        {% if content.row2 %}
            {{ content.row2 }}
        {% endif %}
    </div>
     <div class="col-md-12">
        {% if content.row3 %}
            {{ content.row3 }}
        {% endif %}
    </div>
     <div class="col-md-12">
        {% if content.row4 %}
            {{ content.row4 }}
        {% endif %}
    </div>
  </div>
</div>