<div class="contain">
  <div class="contentTable">
    <div class="col_250 lCol">
        {% if content.column_one %}
            {{ content.column_one }}
        {% endif %}
    </div>
     <div class="col_100 rCol">
        {% if content.column_two %}
            {{ content.column_two }}
        {% endif %}
    </div>
  </div>
</div>