<div class="contain">
  <div class="row">
    <div class="col-md-8">
        {% if content.column_one %}
            {{ content.column_one }}
        {% endif %}
    </div>
     <div class="col-md-4">
        {% if content.column_two %}
            {{ content.column_two }}
        {% endif %}
    </div>
  </div>
</div>